section.wrapper {
    width: 1280px;
    margin: 100px auto;
    /* border: 1px solid #000;    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.wrapper h1.title {
    color: navy;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
section.wrapper .setLevel{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}
section.wrapper .setLevel .level {
    width: 200px;
    padding: 10px 30px;
    /* border: 1px solid #000; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}
section.wrapper .setLevel .lowLevel {
    background: #efde4c;
}
section.wrapper .setLevel .midLevel {
    background: #37c1b8;
}
section.wrapper .setLevel .highLevel {
    background: #ff4646;
}
section.wrapper .puzzle {
    width: 800px;
    height: 800px;
    /* border: 1px solid #c20000; */
}
section.wrapper .lowLevelGame{
    display: none;
    background-color: black;
}
section.wrapper .midLevelGame{
    display: none;
}
section.wrapper .highLevelGame{
    display: none;
    background-color: black;
}
section.wrapper .midLevelGame .mixedImage {
    width: 25%;
    height: 25%;
    float: left;
}
section.wrapper .midLevelGame .mixedImage:nth-child(4n + 4)::after {
    content: '';
    display: block;
    clear: both;
}
section.wrapper .midLevelGame #blank {
    background: #ffffff;
}